body.loading table.result,
body.loading .navbar-nav .start-time,
body.loading .navbar-nav .duration,
body.loading .navbar-nav .end-time {
  opacity: 0.3;
}
body.loading {
  cursor: wait;
}

.btn-xs {
  margin: 0 0.1rem 0.1rem 0;
  padding: 0.01rem 0.025rem 0.01rem 0.025rem;
  font-size: 0.7rem;
  border-width: 2px;
  border-radius: 4px;
  font-weight: bold;
}

.btn-highlight {
  background-color: yellow !important;
  color: black !important;
}

.hover-xy {
  background-color: #ecf0f1;
  color: #e74c3c;
}

.table th {
  vertical-align: middle;
}
tr.hover-xy > th,
th.hover-xy {
  background-color: #cfd9db;
  color: #e74c3c;
}

#about {
  background-image: url("/satellite-gs.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 10rem;
}

.calc-rating {
  --rating-red: calc(24 + 207 * (1 - var(--rating)));
  --rating-green: calc(76 + 112 * var(--rating));
  --rating-blue: calc(60 + 96 * var(--rating));
  --rating-color: rgb(
    var(--rating-red),
    var(--rating-green),
    var(--rating-blue)
  );
}
.calc-rating.btn-rating {
  background-color: var(--rating-color);
  border-color: var(--rating-color);
  color: #fff;
}
.calc-rating.rating-color {
  color: var(--rating-color);
  filter: brightness(1.2) saturate(5);
}

#plot-measurement-select {
  width: auto;
  display: inline;
}
.plot {
  max-width: 25rem;
  display: block;
}
#plots.table td,
#plots.table th {
  vertical-align: middle;
}
